@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{   margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .3s linear;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #00c6ff;
    --white: #fff;
    --black: #000;
    --lg-white: #eee;
    --border: 1px solid rgb(88, 88, 88);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}


html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

.heading{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    text-shadow: 0 .4rem .4rem rgba(0,0,0,0.6);
    letter-spacing: .2rem;
}

.title{
    text-align: center;
    color: #333;
    font-size: 2.4rem;
    letter-spacing: .1rem;
    font-weight: 600;
}


/* css for header section starts */

.header{
    padding: 2rem 2rem;
    position: fixed;
    background: var(--main-color);
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    display: none;
    float: left;
    width: 20vw;
    margin: 0;
    padding: 0;
}

.header.active{
    display: block;
    height: 100%;
}

.header .logo img{
    width: 14rem;
    margin-bottom: 2rem;
}

.header .fa-bars{
    display: none;
}

.header .fa-times{
    position: absolute;
    top: 2rem;
    left: 24rem;
    font-size: 3rem;
    color: var(--white);
    z-index: 10000;
}

.header .fa-times:hover{
    transform: rotate(180deg);
}

.header .navbar a{
    display: block;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: .5rem;
}

.header .navbar a:hover{
    background: #222;
}

/* css for header section ends */

/* css for home section starts */

.home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(images/img-1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.wrapper{
    width: 100vw;
}

.wrapper.active{
    width: 79vw;
    margin: 0; padding: 0;
    float: right;
    height: 100vh;
}

.home .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 100;
}

.home .head a img{
    width: 12rem;
}

.home .head .fa-bars{
    font-size: 2.5rem;
    color: var(--white);
}

.home .content{
    display: flex;
    height: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home h1{
    font-size: 4rem;
    color: var(--white);
    font-weight: 600;
    width: 100%;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
}

.home h2{
    font-size: 3.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
}

.home p{
    color: var(--lg-white);
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
    margin-bottom: 3rem;
}

.home .btn{
    padding: 2rem 10rem;
    color: #fff;
    background: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

.home .btn:hover{
    word-spacing: .2rem;
    background: #222;
}

/* css for home section ends */

/* css for services section starts */

.services-box{
    width: 100%;
    padding: 2rem 5%;
}

.services-box .title{
    padding-bottom: 4rem;
}

.services-box .swiper .slide .box-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 2rem;
    padding: 1rem 1rem;
}

.services-box .swiper .slide .box {
    padding: 2rem 4rem;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: var(--box-shadow); 
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-box .swiper .slide .box-box a :hover{
    background: var(--main-color);
    color: var(--white);
}

.services-box .swiper .slide .box img{
    margin-right: 3rem;
}


.swiper-wrapper{
    margin-bottom: 2rem;
    height: 80rem;
}

.swiper-pagination-bullet-active{
    background: var(--main-color);
}

/* css for services section ends */

/* css for banner section starts */

.banner{
    width: 100%;
    height: 80vh;
    padding: 10rem 9% 0rem 9%;
    text-align: center;
    background: var(--main-color);
}

.banner h4{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.banner .grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.banner .grid-box .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem;
}

.banner .grid-box .box i{
    color: var(--white);
    font-size: 8rem;
    padding-bottom: 1rem;
}

.banner .box h4{
    font-size: 2rem;
    line-height: 1.4;
    padding: 0; margin: 0;
}

.banner .box p{
    color: var(--lg-white);
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0; margin: 0;
}

/* css for banner section ends */

/* css for locations section starts */

.location{
    width: 100%;
    padding: 3rem 5%;
}

.location .loca-swiper .slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
}

.location .loca-swiper .slide .box{
    width: 17rem;
    height: 8rem;
}

.location .loca-swiper .slide .box img{
    width: 100%;
}

/* css for locations section ends */

/* css for banner-2 section starts */

.banner-2{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 5%;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(images/img-1.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
}

.banner-2 .content{
    text-align: left;
    margin-left: 5rem;
}

.banner-2 .content p{
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 4rem;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
}

.banner-2 .content i{
    font-size: 12rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
}

.banner-2 .content .btn{
    padding: 2rem 8rem;
    color: #fff;
    background: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
}

.banner-2 .content .btn:hover{
    word-spacing: .2rem;
    background: #222;
}

/* css for banner-2 section ends */

/* css for blog section starts */

.blog-box{
    width: 100%;
    padding: 3rem 11%;
}

.blog-box p{
    padding-bottom: 4rem;
}

.blog-box .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.blog-box .blog{
    padding: 2rem 2rem 5rem 2rem;
    text-align: left;
    float: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
    transition: .3s linear;
}

.blog-box .blog img{
    width: 100%;
    margin: 2rem 0;
}

.blog-box .blog h3{
    font-size: 2.4rem;
    color: var(--main-color);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}

.blog-box .blog a :hover{
    text-decoration: underline;
}

.blog-box .blog .btn{
    padding: 1rem 3rem;
    color: #fff;
    background: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.blog-box .blog .btn:hover{
    letter-spacing: .2rem;
    background: #222;
}

/* css for blog section ends */

/* css for partner section starts */

.partner{
    width: 100%;
    padding: 3rem 9%;
}

.partner .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 2rem;
}

.partner .box img{
    width: 100%;
}


/* css for partner section ends */

/* css for footer section stars */

.footer{
    width: 100%;
    padding: 3rem 5%;
    background: var(--main-color);
}

.footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.footer .company h4,
.footer .address h4,
.footer .contact h4,
.footer .social-links h4{
    font-size: 3rem;
    color: #eee;
    font-weight: 600;
    border-bottom: 1.5px dotted var(--white);
    margin-bottom: .8rem;
}

.footer .company p,
.footer .address p,
.footer .contact p{
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
}

.footer .contact p{
    color: var(--white);
}

.footer .contact i{
    display: block;
    text-transform: lowercase;
}

.footer .social-links a{
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: var(--white);
    border: 1.5px solid #fff;
    padding: 1rem;
}

.footer .social-links a:hover{
    background: #222;
}

.grid{
    margin-bottom: 2rem;
}

.footer .quick-links h4,
.footer .digital-service h4{
    font-size: 3rem;
    color: #eee;
    font-weight: 600;
    border-bottom: 1.5px dotted var(--white);
    margin-bottom: .8rem;
}

.footer .quick-links a,
.footer .digital-service a{
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    color: var(--white);
    text-transform: capitalize;
}

.footer .quick-links a:hover,
.footer .contact p:hover,
.footer .digital-service a:hover{
    letter-spacing: .12rem;
}

.credit{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.credit img{
    width: 12rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.credit span{
    color: var(--white);
    font-size: 1.6rem;
}

/* css for footer section ends */

/* --------------------------------- */

/* media query starts */

@media (max-width: 771px){

    html{
        font-size: 55.5%;
        margin: 0; padding: 0;
    }

    .wrapper.active{
        width: 100vw;
    }

    .header{
        width: 40vw;
    }

    .home .head{
        padding: .8rem 5%;
        margin: 0;
    }

    .home .content{
        padding: 1rem 2rem;
    }

    .banner{
        height: auto;
        padding-bottom: 5rem;
    }

    .location{
        padding: 5rem 5% 0 5%;
        height: auto;
    }



}

@media (max-width: 441px){

    html{
        font-size: 50.5%;
    }

    .header{
        width: 100vw;
    }

    .home .head{
        padding: .5rem 5%;
    }

    .home{
        padding: 1rem 1rem;
    }

    .banner{
        height: auto;
        padding-bottom: 5rem;
    }

    .location{
        padding: 5rem 5% 0 5%;
        height: auto;
    }


}
































